.hero {
    position: relative;
    height: calc(100vh - 56px);
    overflow: hidden;
    background-color: $main;
    position: relative;

    @media screen and (max-width: 991px) {
        height: calc(100vh - 71px);
    }

    @media screen and (max-width: 767px) {
        height: calc(100vh - 100px);
    }


    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: #00000099;

        .container {
            height: 100%;
        }


    }

    .scroll-down {
        width: 50px;
        height: 80px;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 20;

        .scroll-icon {
            font-size: 24px;
            color: white;
            animation: bounce 2s infinite;
        }
    }
}

.secondary-page-hero {
    height: 320px;

    @media screen and (max-width: 991px) {
        height: 300px;
    }

    @media screen and (max-width: 767px) {
        height: 280px;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}