//  colors

:root {
  --main-color: #0B1D4F;
  --main-hover: #29A899;
  --sec-color: #075B58;
  --background-color: #fff;
  --text-color: #4A5565;
  --black-color: #000;
  --white-color: #fff;
  --border-color: #f0f0f0;

  --border-radius: 24px;
  font-size: 16px;
}

$main: var(--main-color);
$hover: var(--main-hover);
$sec: var(--sec-color);
$back: var(--background-color);
$text: var(--text-color);
$black: var(--black-color);
$white: var(--white-color);

$border: var(--border-color);

$radius: var(--border-radius);
